<footer>
  <div class="footer-content">
    <div class="coder">
      <h4>Mga Programmer</h4>
      <ul class="names">
        <li>Brian Ezekiel Vitan</li>
        <li>Johnzel Isaiah Zamora</li>
      </ul>
    </div>

    <div class="designer">
      <h4>Mga Designer</h4>
      <ul class="names">
        <li>Nina Amanda Ramon</li>
        <li>Janna Danelle Ramirez</li>
      </ul>
    </div>

    <div class="researcher">
      <h4>Mga Mananaliksik</h4>
      <ul class="names">
        <li>Dana Isabelle Agapay</li>
        <li>Madison Lee Bascuguin</li>
        <li>Justin Reynor Martin</li>
        <li>Divine Joyce Domingo</li>
      </ul>
    </div>
  </div>
</footer>
