* {
    background-color: pink;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#main-title {
    color: #BFA47B;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 73px;
    font-style: normal;
}