* {
    margin: 0;
    padding: 0;
}

header {
    color: #BFA47B;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* you can increase this if you want bigger gaps */
}

.left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right-header {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    gap: 50px;
}

.left-header img {
    height: 99px;
    width: 140px;
}

#main-title {
    color: #BFA47B;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 73px;
    font-style: normal;
    vertical-align: middle;
}

.ribbon {
    background-color: #BFA47B;
    width: 100%;
    min-height: 3.2rem;          /* ~51px */
    padding: 0.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.ribbon ul {
    list-style: none;
    position: relative;
    color: #fff;
}

.ribbon ul li {
    display: inline-block;
    position: relative;
    color: #fff;
}

/* dropdown widths scale with text size */
#kategorya,
#browse,
#tungkol {
    width: 12.5rem;              /* ~200px */
}

.ribbon ul li a {
    display: block;
    padding: 0.3rem 1.5rem;      /* ~5px 25px */
    text-align: center;
    font-size: 1.25rem;          /* ~20px */
    font-weight: 400;
    color: #fff;
    font-family: "Kadwa", Times, serif;
    text-decoration: none;
}

.ribbon ul li ul.dropdown li.dropdown-item {
    display: block;
    border-bottom: 0.2rem solid #72727236;
    padding: 0.15rem;
}

.ribbon ul li ul.dropdown li.dropdown-item a {
    color: #000;
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
}

.ribbon ul li ul.dropdown {
    width: 100%;
    background-color: #d6d5d2;
    position: absolute;
    z-index: 999;
    display: none;
    color: #000;
}

.ribbon ul li a:hover {
    background-color: #a7a7a7;
    color: #000;
}

.ribbon ul li:hover ul.dropdown {
    display: block;
}

.dropdown-category {
    font-family: 'Kadwa', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.95rem;          /* ~15px */
    color: #fff;
}

/* search area */
.ribbon form {
    margin-left: auto;
    margin-right: 3vw;
}

.ribbon form input {
    width: 18vw;
    min-width: 12rem;
    max-width: 20rem;
    border-radius: 3rem;
    padding: 0.6rem;
}

.ribbon form button {
    width: 8.5rem;
    margin-left: 1rem;
    padding: 0.2rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    font-weight: 400;
    background-color: #fff;
    color: #BFA47B;
    font-family: "Kadwa", Times, serif;
    border: 0.08rem solid #00000094;
    vertical-align: middle;
}

.ribbon form button:hover {
    background-color: #d3d3d3;
    color: #181716;
}






/* MAIN CONTENT */


.main-content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
}



.left-sidebar {
    width: 50%;
    min-width: 250px;
}

.left-sidebar h2 {
    font-family: "Alike Angular", serif;
    font-weight: normal;
}

.left-sidebar hr {
    width: 438px;
}

.left-sidebar ul {
    margin-left: 20px;
}

.left-sidebar li a{
    margin-top: 10px;
    font-family: "Kadwa", serif;
    font-size: 24px;
    font-weight: lighter;
    color: #000;
    text-decoration: none;
}

.left-sidebar #Dinagdag {
    margin-top: 50px;
}

.right-sidebar {
    flex: 1;
    margin-left: 20px;
    font-family: "Kadwa", serif;
}

.right-sidebar h3 {
    font-family: "Kadwa", serif;
    font-weight: bold;
}

.right-textbox {
    size: 670px;
    background-color: #d6d5d2;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 15px;
}